* {
  font-family: monospace;
}

.h2modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divmodal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p6faCircleXmark {
  color: #74c0fc;
  height: 20px;
}
.p6btn1{
  border: none;
  outline: none;
  background-color: white;
}
