.divmain23{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: rgb(59, 214, 59);
}
.li1{
    background-color:white ;
    width: 300px;
}
